In [2]:
import pandas as pd 
from chronos import Chronos2Pipeline

pipeline = Chronos2Pipeline.from_pretrained("amazon/chronos-2", device_map="cuda")

# Load historical target values and past values of covariates
context_df = pd.read_parquet("https://autogluon.s3.amazonaws.com/datasets/timeseries/electricity_price/train.parquet")

# (Optional) Load future values of covariates
test_df = pd.read_parquet("https://autogluon.s3.amazonaws.com/datasets/timeseries/electricity_price/test.parquet")
future_df = test_df.drop(columns="target")

# Generate predictions with covariates
pred_df = pipeline.predict_df(
    context_df,
    future_df=future_df,
    prediction_length=24,  # Number of steps to forecast
    quantile_levels=[0.1, 0.5, 0.9],  # Quantiles for probabilistic forecast
    id_column="id",  # Column identifying different time series
    timestamp_column="timestamp",  # Column with datetime information
    target="target",  # Column(s) with time series values to predict
)
pred_df.head()

,id,timestamp,target_name,predictions,0.1,0.5,0.9
0,DE,2017-12-12 00:00:00,target,22.242922,18.673727,22.242922,25.403452
1,DE,2017-12-12 01:00:00,target,19.525620,14.904282,19.525620,23.316597
2,DE,2017-12-12 02:00:00,target,17.415369,12.209055,17.415369,21.776978
3,DE,2017-12-12 03:00:00,target,16.979265,11.165123,16.979265,21.435223
4,DE,2017-12-12 04:00:00,target,18.058655,12.096773,18.058655,23.166643